spring:
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB

  datasource: # DATABASE
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_NM}
    password: ${DB_PW}

  cache:
    type: redis

  data:
    redis:
      host: localhost
      port: 6379

  jpa: # JPA
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect

server:
  port: 8090
  error:
    include-exception: true     # ??? exception? ??? ???? ??
    path: '/error'               # ??? ??? Handler? ??
    whitelabel:
      enabled: true             # ?? ?? ??? ????? ??? ?? ??? ?? ??
  tomcat:
    use-relative-redirects: true
  forward-headers-strategy: framework

cloud:
  aws:
    credentials:
      access-key: ${ACCESS_KEY}
      secret-key: ${SECRET_KEY}
    s3:
      bucket: sehoawsbucket2
    region:
      static: ap-northeast-2
    stack:
      auto: false

#file:
#  upload-dir: src/main/resources/static/images/
